.login-page {
    background: url(../assets/imgs/bgd.png) no-repeat center;
    background-size:cover;

    .btn-login {
        color:#FDFCFC;
        border-radius:0px;
    }

    form {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .btn-login__group {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    .btn-login__options {
        position: relative;

        .action:first-child {
            position: absolute;
            left: 0;
        }

        .action:last-child {
            position: absolute;
            right: 0;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

