.sign-up-page {
    background: url(../assets/imgs/bgd-2.png) no-repeat center;
    background-size:cover;

    .txt-upload-picture {
        text-align: center;
    }

    .txt-aldready-account {
        color: white;
        text-align: center;

        a {
            color: white;
        }
    }
}
